<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Maymunu Yakala.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA1E90E51F51FD5C005D25F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA1E90F91F51FD5C005D25F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA1E91041F51FD5C005D25F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
